html, body{
	background-color:#ffffff;
    border-color: #dddddd;
    margin:0px;
    padding:0px;
}

header{
	background-color:#ffffff;
	border-color: #cccccc;
	max-width:100%;
	height: 100%;
    border-bottom: 2px solid #cccccc;
}

.inner-header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
}

#header-name{
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 32px;
    margin: 0;
}


nav {
    margin: 0 auto;
    list-style: none;
    position: static;
    float: right;
}

nav li{
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: #222;
    padding: 0 10px;
    color: #777777;
}

nav li > a{
    position: relative;
    display: block;
    padding: 10px 15px;
}

#leftright{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.content {
    min-height: calc(100vh - 70px);
    width: 960px;
    margin: auto;
    padding: 50px;
}

.left{
	float: left;
	margin: 0;
    width: 650px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.section1{
    padding: 20px;
}

.section1 p{
    font-family: 'Saira Semi Condensed', sans-serif;
    line-height: 25px;
    font-size: 15px;
    font-weight: regular;
    color: #777777;
}

#AboutMe{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

#me{
    height:200px;
    width:200px;
    padding-right: 10px;
    float: left;
}

#Contact{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Portfolio{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
	display:inline;   
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: regular;
    color: #777777;
}

label{
	vertical-align:middle;
    float:left;
    margin-bottom:10px;
}

input{
	vertical-align:middle;
    float:left;
    width:100%;
    height: 20px;
    margin-bottom:10px;
}

textarea {
    width: 100%;
    height: 150px;
    margin: auto;
}

.btn {
    margin-top:10px;
    color: #ffffff;
    font-size: 17px;
    background: #4aaaa5;
    padding: 10px 20px 10px 20px;
    border: none;
}

.btn:hover {
  text-decoration: none;
}

.right{ 
    width: 270px;
    float: right;
    text-align: justify;
}

.section2{
    padding: 20px;
    background-color:#ffffff;
    border: 1px solid #cccccc;
}

.section2 a{
    vertical-align: top;
    display: inline-block;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#ConnectWithMe{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    border-top: 3px solid #4aaaa5;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    clear: both;
    height: 75px;
    margin-top: auto;
}

@media screen and (max-width: 640px) {
	.inner-header{
		width: 100%;
		margin-top: 0;
		padding: 0;
		text-align: center;
	}

	#header-name{
		float: none;
    	margin: 0;
    	padding: 0;
	}

	nav {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav a {
    	display: inline-block;
		padding: 1em;
	}

	#leftright{
	width: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
	}
	
	.content {
		width: auto;
    	max-width: 640em;
    	margin: 0;
	}

	.left{ 
		width: 100%;
		margin-bottom: 10px;
	}

	.right{ 
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.inner-header {
		width: 100%;
		border-bottom: 2px solid #ccc;
		margin: 0px;
		padding:0px;
	}

	.content {
		width: auto;
    	max-width: 768em;
    	margin: 0;
	}

	.left{ 
		width: 100%;
		margin-bottom: 10px;
	}

	.right{ 
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 980px) {
	.inner-header {
		width: 100%;
		border-bottom: 2px solid #ccc;
		margin: 0px;
		padding:0px;
	}

	.content {
		width: auto;
    	max-width: 980em;
    	margin: 0;
	}

	.left{ 
		width: 100%;
		margin-bottom: 10px;
	}

	.right{ 
		width: 100%;
		margin-bottom: 10px;
	}
}

